<a href="https://colab.research.google.com/github/DeepakNair93/datascience_python/blob/master/Decision_Tree_Credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
import graphviz

In [2]:
df = pd.read_csv('Decision_Tree_Risk_Data.csv')

In [3]:
df

  Savings  Assets  Income ($1000s) Credit Risk
0  Medium    High               75        Good
1     Low     Low               50         Bad
2    High  Medium               25         Bad
3  Medium  Medium               50        Good
4     Low  Medium              100        Good
5    High    High               25        Good
6     Low     Low               25         Bad
7  Medium  Medium               75        Good