<a href="https://colab.research.google.com/github/DeepakNair93/datascience_python/blob/master/Dummy_Coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Decision_Tree_Risk_Data.csv')

In [4]:
df

  Savings  Assets  Income ($1000s) Credit Risk
0  Medium    High               75        Good
1     Low     Low               50         Bad
2    High  Medium               25         Bad
3  Medium  Medium               50        Good
4     Low  Medium              100        Good
5    High    High               25        Good
6     Low     Low               25         Bad
7  Medium  Medium               75        Good

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Savings          8 non-null      object
 1   Assets           8 non-null      object
 2   Income ($1000s)  8 non-null      int64
 3   Credit Risk      8 non-null      object
dtypes: int64(1), object(3)
memory usage: 384.0+ bytes

Here we have 'Income' as numerical & other variables as categorical.

### Method 1 - Dummy Coding using Map method of pandas

In [6]:
df.head()

  Savings  Assets  Income ($1000s) Credit Risk
0  Medium    High               75        Good
1     Low     Low               50         Bad
2    High  Medium               25         Bad
3  Medium  Medium               50        Good
4     Low  Medium              100        Good

In [7]:
#for each of categorical variable give a numerical notation.
df['Savings'] = df['Savings'].map({'Low':0,'Medium':1,'High':2})
df['Assets'] = df['Assets'].map({'Low':0,'Medium':1,'High':2})
df['Credit Risk'] = df['Credit Risk'].map({'Good':1,'Bad':0})

In [8]:
df.head()

   Savings  Assets  Income ($1000s)  Credit Risk
0        1       2               75            1
1        0       0               50            0
2        2       1               25            0
3        1       1               50            1
4        0       1              100            1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Savings          8 non-null      int64
 1   Assets           8 non-null      int64
 2   Income ($1000s)  8 non-null      int64
 3   Credit Risk      8 non-null      int64
dtypes: int64(4)
memory usage: 384.0 bytes

The categorical data is converted to categorical variables

## Method 2 - Using For Loop to convert categorical to numerical

In [10]:
#reading the file again.
df = pd.read_csv('Decision_Tree_Risk_Data.csv')

In [11]:
df.dtypes

Savings            object
Assets             object
Income ($1000s)     int64
Credit Risk        object
dtype: object

In [12]:
for x in df.columns:
    if df[x].dtypes=='object':
        df[x]=pd.Categorical(df[x]).codes