###### One Sample Z-Test

Null Hypothesis: There is no difference in the mean<br>

Alternate Hypothesis: Means are different

In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [3]:
#import the dataset
df = pd.read_csv('C:/Users/DEEPAK/Downloads/T-Test-main/ztest.csv')

In [4]:
df.head(3)

   Unnamed: 0  patient   sex agegrp  bp_before  bp_after
0         NaN        1  Male  30-45        143       153
1         NaN        2  Male  30-45        163       170
2         NaN        3  Male  30-45        153       168

In [6]:
ztest,pval = stests.ztest(df['bp_before'],x2=None , value=156)

In [7]:
print(ztest)
print(pval)

0.432798073526164
0.6651614730255063

In [8]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis

<b>Two Sample Z-test<br>
H0: mean of two samples is the same<br>

H1: mean of two samples is not the same

In [9]:
ztest ,pval1 = stests.ztest(df['bp_before'], x2=df['bp_after'], value=0,alternative='two-sided')

In [10]:
print(float(pval1))

0.002162306611369422

In [11]:
if pval1<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis

In [ ]:
stests.ttest_ind()